.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 311px;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.img img{
    max-width: 100%;
}